- content_for :page_header do
  %h2.ui.header
    %i.plug.icon
    .content Getting Started
    %hr
  .ui.segment
    %p Enter the name of a GitHub repository to add (user/repo):
    = form_for current_user.projects.build, remote: true do |f|
      .ui.action.input
        = f.text_field :repo
        = button_tag(class: "ui teal right labeled icon button") do
          %i.fork.icon
          Add to projects

- content_for :sidebar do
  - @projects.each do |project|
    = link_to project_path(project), class: 'item' do
      %i.circle.thin.icon
      = project.name || project.repo

%table#projects.ui.celled.striped.table
  %thead
    %tr
      %th Name
      %th Repo
      %th Status
      %th
      %th
  
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project_path(project)
        %td= project.repo
        %td
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
