- content_for :page_header do
  .ui.header Your Projects

.ui.segment

  - if @repos
    %h2.ui.header
      %i.plug.icon
      .content
        To get started, select the repos you want to start managing with Git-PM.
        %hr
    .ui.segment
      %label Filter by Organization: 
      = select_tag 'organization', options_from_collection_for_select(github.orgs.list, 'login', 'login'), prompt: '-- Select an organization --', id: 'filter-by-organization'
    .repos
      - @repos.each do |repo|
        = render 'repo', repo: repo
  - else
    %table
      %tr
        %th Name
        %th Repo
        %th
        %th
        %th

      
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= project.repo
          %td= link_to 'Show', project
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
