!!! 5
%html
  %head
    %title GitPm
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

  .ui.fixed.inverted.main.menu
    .title.item
      %b GitPM
    .right.menu
      .item
        = link_to 'Sign up', signup_path, class: 'ui primary button' if !current_user

  .full-height.ui.grid
    .three.wide.column
      .ui.left.vertical.labeled.icon.menu= yield :sidebar

    .thirteen.wide.column
      - if content_for?(:page_header)
        .header.ui.segment
          .container
            .introduction= yield :page_header
      = yield
